---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = 'Mon blog';
---

<BaseLayout pageTitle={pageTitle}>
  <p>C'est ici que je publierai mes articles</p>
  <ul>
    {allPosts.map((post) => <BlogPost {...post} />)}
  </ul>
</BaseLayout>
