---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting.jsx';
const pageTitle = 'Accueil';
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Mon super sous-titre de blog</h2>
  <Greeting client:load messages={['Hola', 'Hallo', 'Hi']} />
</BaseLayout>
